@import "tailwindcss";
html, body {
  overflow-x: hidden;
}

/* Camera shadow styles for realistic depth */
.mainCam {
  filter: drop-shadow(0 100px 500px rgb(0, 0, 0, 0.5));
  transition: filter 0.1s ease-out;
}

@font-face {
  font-family:"bystander" ;  src: url( ./assets/bystand.ttf);
}
@font-face {
  font-family: "strange";
  src: url(./assets/strange.ttf);
}